<header>
    <nav class="navbar">
        <span class="navbar-brand mb-0 h1 mx-auto">Happy, Happy, Yummy, Yummy Burgers!</span>
    </nav>
</header>

<div class="container rounded mt-5 box">

    <div class="row justify-content-center pt-5">
        <h2>Welcome to Happy, Happy, Yummy, Yummy Burgers!</h2>
    </div>
    <div class="row justify-content-center menu">
        <div class="col-5 rounded text-center p-3 m-3 ready">
            <h3>Burgers still in their wrappers</h3>
            <hr>
            <div class="overflow-auto">
                <ul>
                    {{#each burgers}}
                    {{#if devoured}}
                    {{> burgers/burger-block devoured=false}}
                    {{/if}}
                    {{/each}}
                </ul>
            </div>
        </div>
        <div class="col-5 rounded text-center p-3 m-3 yum">
            <h3>Burgers in happy tummies</h3>
            <hr>
            <div class="overflow-auto">
                <ul>
                    {{#each burgers}}
                    {{#if devoured}}
                    {{> burgers/burger-block devoured=true}}
                    {{/if}}
                    {{/each}}
                </ul>
            </div>
        </div>
    </div>
    <div class="row justify-content-center pt-4 pb-5">
        <button type="button" class="btn btn-primary">Order Yours Here!</button>
    </div>
</div>

<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"
    integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN"
    crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"
    integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
    crossorigin="anonymous"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"
    integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
    crossorigin="anonymous"></script>
<script src="./assets/js/burgers.js"></script>