<header>
    <nav class="navbar">
        <span class="navbar-brand mb-0 h1 mx-auto">Happy, Happy, Yummy, Yummy Burgers!</span>
    </nav>
</header>

<div class="container rounded mt-5 box">

    <div class="row justify-content-center pt-5">
        <h2>Welcome to Happy, Happy, Yummy, Yummy Burgers!</h2>
    </div>
    <div class="row justify-content-center menu">
        <div class="col-5 rounded text-center p-3 m-3 ready">
            <h3>Burgers still in their wrappers</h3>
            <hr>
            <div class="overflow-auto">
                <ul>
                    {{#each burgers}}
                    {{#unless devoured}}
                    <li>
                        {{burger_name}}

                        <button type="button" class="btn btn-primary eat" data-id="{{id}}" data-eaten="{{devoured}}">Eat</button>
                    </li>
                    {{/unless}}
                    {{/each}}
                </ul>
            </div>
        </div>
        <div class="col-5 rounded text-center p-3 m-3 yum">
            <h3>Burgers in happy tummies</h3>
            <hr>
            <div class="overflow-auto">
                <ul>
                    {{#each burgers}}
                    {{#if devoured}}
                    <li>
                        {{burger_name}}
                    </li>
                    {{/if}}
                    {{/each}}
                </ul>
            </div>
        </div>
    </div>
    <div class="row justify-content-center pt-4 pb-5">
        <button type="button" class="btn btn-primary">Order Yours Here!</button>
    </div>
</div>